<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <!-- <handlers>
            <clear />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either"
        requireAccess="Read" />
        </handlers>
        <httpErrors errorMode="Detailed" /> -->
        <defaultDocument>
            <files>
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>